body {
    background-color: rgb(255, 255, 255) !important;
}

.github-icon-container {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9999;
}

.github-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #484848;
    /* border: 4px solid #484848; */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
    text-decoration: none;
    cursor: pointer;
    border-radius: 180px;
}

.github-icon:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.2);
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.github-icon:active {
    transform: translate(0px, 0px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.github-icon svg {
    width: 32px;
    height: 32px;
    fill: #fff;
}
